/* 彻底清除 Vite 默认的居中和内边距 */
html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  background-color: #f7f8fa;
  /* 优化移动端点击高亮和字体平滑 */
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}